
    <%- include('./fragments/header.ejs') %>
    <div class="main">
        <h2><%=__('home-page.title')%></h2><br>
        
        <p><%=__('home-page.description1')%></p>
        
    </div>
    <%- include('./fragments/footer.ejs') %>
